.icon {
  display: block;
  object-fit: contain;
  flex-shrink: 0;
}

.xs {
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
}

.sm {
  width: var(--icon-size-sm);
  height: var(--icon-size-sm);
}

.md {
  width: var(--icon-size-md);
  height: var(--icon-size-md);
}

.lg {
  width: var(--icon-size-lg);
  height: var(--icon-size-lg);
}

.nav {
  width: var(--nav-icon-size);
  height: var(--nav-icon-size);
}

.fab {
  width: var(--nav-fab-size);
  height: var(--nav-fab-size);
}

.notification {
  width: var(--card-notification-icon-size);
  height: var(--card-notification-icon-size);
}

.trade {
  width: var(--icon-size-trade);
  height: var(--icon-size-trade);
}

.avatar {
  width: var(--icon-size-trade-container);
  height: var(--icon-size-trade-container);
}

.loader {
  width: var(--icon-size-loader-width);
  height: var(--icon-size-loader-height);
}

.fill {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
