.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinning {
  transform-origin: center;
  animation: loader-spin var(--splash-loader-rotation-duration) var(--splash-loader-rotation-easing) infinite;
}
