.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-5);
}

.title {
  padding-left: var(--space-1);
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
}
