.section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 42px;
}

.title {
  font-size: var(--activity-history-title-size);
  font-weight: var(--font-weight-extrabold);
  line-height: 32.2px;
  letter-spacing: -0.56px;
}
