.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 42px;
}

.title {
  font-size: var(--activity-history-title-size);
  font-weight: var(--font-weight-extrabold);
  line-height: 32.2px;
  letter-spacing: -0.56px;
}

.filterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  overflow: hidden;
  background: var(--color-bg-surface);
  border: 0;
  border-radius: 50%;
}
